body{
  background-color: #FFFFFF;
}

.container{
  width: 85%;
  margin:auto;
}

.header{
  text-align: center;
  font-family: 'Limelight', cursive;
  font-size: 7em;
}

.well{
  width: 75em;
  margin-left:auto;
  margin-right: auto;
  p{
    text-align: center;
  }
}

.desc{
  width: 90%;
}

.logo{
  margin:auto;
}
.words{
  margin-left: .35em;
}

.login{
  width: 12em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

#map{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  height: 35em;
  width: 100%;
}

#legend{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 6em;
  // border: 1px solid black;
  border-radius: 5px;
  ul{
    margin: 0;
    padding: 0;
    text-align: center;
    li{
      list-style-type: none;
      display: inline;

      img{
        display: inline-block;
        margin-top: .5em;
        margin-left: 5%;
        margin-right: 5%;
      }
    }
    p{
      display: inline-block;

    }
  }

}
button.btn.btn-primary.btn-lg.report{
  position: relative;
  display: inline-block;
  float: left;
  height: 200px;
  width: 19%;
  border-radius: 10px;
  margin-top: 30px;
  background-color: #769EA5;
  border-color: #769EA5;
}
button.btn.btn-primary.btn-lg.report:hover{
  background-color: #B5A99B;
  border-color: #B5A99B;
}

button.btn.btn-default.btn-lg#logout{
  position: relative;
  display: inline-block;
  float: right;
  height: 200px;
  width:19%;
  border-radius: 10px;
  margin-top: 30px;
  background-color: #694342;
  color: #fff;
}

button.btn.btn-default.btn-lg#logout:hover{
  background-color: #B5A99B;
  border-color: #B5A99B;
}

// Chat it up
#chatContain{
  position: relative;
  display: inline-block;
  float: left;
  width: 40%;
  margin-top: 30px;
  margin-left: 11%;
}

#chat{
  width: 100%;
  margin:auto;
  height: 198px;
  border-radius: 10px;
  overflow: scroll;
  background-color: #A3B29E;
}

.message{
  border-radius: 7px;
  margin-left: 10px;
  max-width: 100%;
  overflow: auto;
}
#controls{
  text-align: center;
}
// END CHAT

.clear{
  width: 100%;
  clear: both;
}

#report-container.well.well-lg{
  width: 100%;
  height: 400px;
  margin-top: 1em;
  overflow: scroll;
}
.date, .type{
  position: relative;
  display: inline-block;
  width: 5em;
  // border-right: 1px solid black;
  height: 100%;
  img{
    width: 40px;
    height: 40px;
  }
  p{
    width: 100%;
    margin: 0;
    padding-right: 5px;
  }
}

.icon{
  margin-left: 1em;
}

.content{
  position: relative;
  width: 45em;
  min-width: 25em;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  margin-left:1em;
}

.address{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1em;
  width: 15em;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 10px;

}

.fb{
  width: 50px;
}

.bottom{
  width: 300px;
  display: inline-block;
}

a.btn.btn-primary.footer-btn{
  width: 175px;
}

.hidden{
  display: none;
}
.gone{
  visibility: hidden;
}

#formContain{
  width: 80%;
  margin: auto;
  margin-top: 2em;
}
.toolPhoto{
  max-width: 300px;
  max-height: 100px;
}

// Responsiveness

@media (max-width: 1199px) {
  #chatContain{
    width:60%;
    margin-left:1%;
  }
  .well-sm{
    width:45em;
    .content{
      width: 10em;
      margin-left: .5em;
    }
    .address{
      margin-left: 50%;
      right: 5em;
    }
  }
}

@media (max-width: 1032px) {
  h1.header{
    font-size: 5em;
  }
  .content{
    margin-left: .5em;
  }
}

@media (max-width: 992px) {
  .well-sm{
    width: 49em;
    .content{
      width: 35em;
      margin-left: .5em;
    }
  }
  #legend > ul > li > img{
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media (max-width: 769px) {
  .container{
    width: 90%;
  }
  #map{
    width: 100%;
  }
  .well-sm{
    width:39em;
    .content{
      width: 25em;
      margin-left: .5em;
    }
  }
  #chatContain{
    display:block;
    float: none;
    width: 100%;
  }
  button.btn.btn-default.btn-lg#logout{
    width: 45%;
  }
  button.btn.btn-primary.btn-lg.report{
    width: 45%;
  }

}

@media (max-width: 739px) {
  h1.header{
    font-size: 4em;
  }
  .well-sm{
    width:30em;
    .content{
      width: 18em;
      margin-left: .5em;
    }
  }
}
