extends ../shared/template

block content


  img.logo.img-responsive(src='/img/bg.jpg')

  .well.well-lg.desc
    p Take Back Nashville is a crime reporting app that empowers community members by allowing them to post a report of suspicious activity around them for the community to see. Please note that each report gets sent in an automated email to the Nashville non-emergency contact address. Nashville can be a safer place and it starts with you!


  if(user)
    form(method='post', action='/logout')
      button.btn.btn-default.btn-sm#logout Logout

  if(message)
    .alert(style='color: red')
      p= message

  if(!user)
    .login
      form(action='/login', method='post')
        input(type='email', name='email', placeholder='Email', autofocus=true)
        br
        input(type='password', name='password', placeholder='Password')
        br
        button(type='submit') Login

    hr
    .bottom
      p.footer
        | Need an account?
        a.words.footer-link(href='/register') Register
        |  or log in with

      a.btn.btn-primary.footer-btn(href='/auth/facebook')
        span.fa.fa-facebook
        | Facebook
